In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge,Lasso

In [21]:
df=pd.read_csv("Melbourne_housing_FULL.csv")
df.head(2)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [23]:
df.shape

(34857, 21)

In [24]:
df.size

731997

In [25]:
df.duplicated().sum()

1

In [26]:
df.drop_duplicates(inplace=True)

In [27]:
df.duplicated().sum()

0

In [28]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7609
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [29]:
df["Regionname"]=df["Regionname"].fillna(df["Regionname"].mode()[0])
df["CouncilArea"]=df["CouncilArea"].fillna(df["CouncilArea"].mode()[0])
df['Propertycount'] = df['Propertycount'].fillna(df['Propertycount'].median())
df['Distance'] = df['Distance'].fillna(df['Distance'].median())
df['Bedroom2'] = df['Bedroom2'].fillna(df['Bedroom2'].mode()[0])
df['Bathroom'] = df['Bathroom'].fillna(df['Bathroom'].mode()[0])
df['Car'] = df['Car'].fillna(df['Car'].mode()[0])
df['Landsize'] = df['Landsize'].fillna(df['Landsize'].median())
df['BuildingArea'] = df['BuildingArea'].fillna(df['BuildingArea'].median())
df['Lattitude'] = df['Lattitude'].fillna(df['Lattitude'].median())
df['Longtitude'] = df['Longtitude'].fillna(df['Longtitude'].median())
df['Postcode'] = df['Postcode'].fillna(df['Postcode'].median())
df['YearBuilt'] = df['YearBuilt'].fillna(df['YearBuilt'].median())

In [30]:
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price            7609
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
YearBuilt           0
CouncilArea         0
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [31]:
df.dropna(inplace=True)

In [32]:
df.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [33]:
df=pd.get_dummies(df,drop_first=True)
df.head()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,202.0,136.0,1970.0,...,0,1,0,0,1,0,0,0,0,0
2,2,1035000.0,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,...,0,1,0,0,1,0,0,0,0,0
4,3,1465000.0,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,...,0,1,0,0,1,0,0,0,0,0
5,3,850000.0,2.5,3067.0,3.0,2.0,1.0,94.0,136.0,1970.0,...,0,1,0,0,1,0,0,0,0,0
6,4,1600000.0,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,...,0,1,0,0,1,0,0,0,0,0

In [34]:
df.head(2)

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,202.0,136.0,1970.0,...,0,1,0,0,1,0,0,0,0,0
2,2,1035000.0,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,...,0,1,0,0,1,0,0,0,0,0

In [35]:
X=df.drop("Price",axis=1)
y=df["Price"]

In [36]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=2)

In [37]:
# scaler=StandardScaler()
# X_train=scaler.fit_transform(X_train)
# X_test=scaler.transform(X_test)

In [38]:
# lin_reg=LinearRegression()
# lin_reg.fit(X_train, y_train)

In [39]:
# test_accuracy=lin_reg.score(X_test,y_test)
# train_accuracy=lin_reg.score(X_train,y_train)
# print(f"TrainAccuracy:{train_accuracy}")
# print(f"TestAccuracy:{test_accuracy}")

In [40]:
ridge_reg=Ridge(alpha=0.10)
ridge_reg.fit(X_train,y_train)

MemoryError: Unable to allocate 3.92 GiB for an array with shape (27576, 19072) and data type float64

In [ ]:
test_accuracy=ridge_reg.score(X_test,y_test)
train_accuracy=ridge_reg.score(X_train,y_train)
print(f"TrainAccuracy:{train_accuracy}")
print(f"TestAccuracy:{test_accuracy}")

TrainAccuracy:0.7008456935206799
TestAccuracy:0.7079458832268782

In [ ]:
lasso_reg=Lasso(alpha=50)
lasso_reg.fit(X_train,y_train)

Lasso(alpha=50)

In [ ]:
test_accuracy=lasso_reg.score(X_test,y_test)
train_accuracy=lasso_reg.score(X_train,y_train)
print(f"TrainAccuracy:{train_accuracy}")
print(f"TestAccuracy:{test_accuracy}")

TrainAccuracy:0.677666695588237
TestAccuracy:0.6873940903658242